@import url(baseClassesAndVariables.css);

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden;
  -webkit-user-select: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
}
html {
  background-color: black;
  z-index: 0;
}
body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#welcomeMask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
#centerMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#welcomeLogo {
  height: 45%;
  width: 45%;
}
#playBox {
  width: 30%;
  height: 20%;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-width: 5px;
  border-style: solid;
}
@media screen and (max-height: 560px) {
  #welcomeLogo {
    height: 30%;
    width: 30%;
  }
  #playBox {
    width: 20%;
  }
}
#playButton {
  font-size: 40px;
  padding: 7px;
  font-weight: 600;
}
#gameWorld {
  position: relative;
  left: 50%;
  translate: -50% 0;
  width: 100%;
  height: 100%;
}
#sky {
  width: 100%;
  height: 22%;
  position: relative;
}
#waves {
  width: 100%;
  height: 4%;
  top: -2%;
  background-repeat: repeat-x;
  position: relative;
  z-index: 2;
  background-size: auto 100%;
}
#ocean {
  width: 100%;
  top: -3%;
  height: 77%;
  position: relative;
}
#ship {
  height: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  top: 50%;
  left: 0;
  z-index: 1;
}

#leftButton {
  width: 22%;
  left: 0;
}

#actionButtonLeft {
  width: 28%;
  left: 22%;
}

#actionButtonRight {
  width: 28%;
  left: 50%;
}

#rightButton {
  width: 22%;
  left: 78%;
}
#optionsMask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
  background-color: var(--transparent);
}
#startButton {
  font-size: 40px;
  padding: 7px;
  font-weight: 600;
}
#pauseMask {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 6;
}
#pauseMaskSelectBox {
  position: absolute;
  background-color: var(--transparent);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  min-width: unset;
}
#resumeButton,
#restartButton,
#quitButton {
  float: left;
  position: relative;
  height: 40%;
  width: 100%;
  margin: 2%;
  background-size: 100% 100%;
  z-index: 6;
}

#pauseButton {
  position: fixed;
  right: 0;
  top: 0;
  margin-right: 1%;
  margin-top: 1%;
  height: 125px;
  width: 125px;
  background-size: 100% 100%;
  z-index: 7;
}
@media screen and (max-height: 770px) {
  #pauseButton {
    width: 110px;
    height: 110px;
  }
}
@media screen and (max-height: 700px) {
  #pauseButton {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-height: 620px) {
  #pauseButton {
    width: 90px;
    height: 90px;
  }
}
@media screen and (max-height: 550px) {
  #pauseButton {
    width: 75px;
    height: 75px;
  }
}
#gameStateBar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  font-size: 36px;
  line-height: 36px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2000px;
  height: 36px;
  z-index: 1;
}

@media screen and (max-width: 1850px) {
  #gameStateBar {
    width: 1200px;
    font-size: 32px;
    line-height: 32px;
    height: 32px;
  }
  #level,
  #timer {
    display: none !important;
  }
}
@media screen and (max-width: 1250px) {
  #gameStateBar {
    width: 800px;
    font-size: 28px;
    line-height: 28px;
    height: 28px;
  }
  #ammoCount {
    display: none !important;
  }
}

@media screen and (max-width: 850px) {
  #gameStateBar {
    width: 100%;
    font-size: 24px;
    line-height: 24px;
    height: 24px;
  }
}
@media screen and (max-width: 500px) {
  #gameStateBar {
    font-size: 16px;
    line-height: 16px;
    height: 16px;
  }
  #ammoType {
    display: none !important;
  }
}
#timer,
#score,
#lives,
#level,
#ammoType,
#ammoCount {
  position: relative;
  float: left;
  text-align: center;
  margin: 0 2.5%;
  white-space: nowrap;
}
