@import url(dayVariables.css);

body {
  background-color: white;
  color: black;
}
#welcomeMask {
  background-color: var(--logoWhite);
}
#playBox {
  background-color: var(--logoWhiteButton);
  border-color: black !important;
}
#playBox:hover {
  background-color: var(--logoWhiteButtonHover);
}
#sky {
  background-color: var(--sky);
}
#waves {
  background-image: url('../../images/day/wave.png');
}
#ocean {
  background-color: var(--water);
}
#ship {
  background-image: url('../../images/day/boatRight.png');
}
.submarine {
  background-image: url('../../images/day/submarineRight.png');
}
.bomb {
  background-image: url('../../images/day/bomb.png');
}
#pauseButton {
  background-image: url('../../images/day/pause.png');
}
.isFullscreen {
  background-image: url('../../images/day/minimize.png');
}
.isNotFullscreen {
  background-image: url('../../images/day/maximize.png');
}
#resumeButton {
  background-image: url('../../images/day/play.png');
}
#restartButton {
  background-image: url('../../images/day/reload.png');
}
#quitButton {
  background-image: url('../../images/day/powerSwitch.png');
}
#gameStateBar {
  color: var(--logoBlue);
}
.mobileSterringButtons {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.45);
}
#dropButtonLeft > div.mobileSterringButtonsInsideImage,
#dropButtonRight > div.mobileSterringButtonsInsideImage {
  background-image: url('../../images/day/aim.svg');
  opacity: 0.7;
}
#sterringPanel {
  color: rgba(0, 0, 0, 0.6);
}
#moveLeftButton:active,
#moveRightButton:active,
#switchItemButton:active,
#dropButtonLeft:active,
#dropButtonRight:active {
  background-color: rgba(0, 0, 0, 0.2);
}
