@import url(dayVariables.css);

body{
    background-color: white;
    color: black;
}
#welcomeMask{
    background-color: var(--logoWhite);
}
#playBox{
    background-color: var(--logoWhiteButton);
    border-color: black !important;
}
#playBox:hover{
    background-color: var(--logoWhiteButtonHover);
}

#sky{
    background-color: var(--sky);
}

#waves{
    background-color: var(--sky);
    background-image: url("../../images/day/waveDay.png");
}

#ocean{
    background-color: var(--water);
}