@import url(nightVariables.css);

body{
    background-color: black;
    color: white;
}
#welcomeMask{
    background-color: var(--logoBlue);
}
#playBox{
    background-color: var(--logoBlueButton);
    border-color: white !important;
}
#playBox:hover{
    background-color: var(--logoBlueButtonHover);
}
#sky{
    background-color: var(--sky);
}
#waves{
    background-color: var(--sky);
    background-image: url("../../images/day/waveDay.png");
}
#ocean{
    background-color: var(--water);
}