@import url(nightVariables.css);

body {
  background-color: black;
  color: white;
}
#welcomeMask {
  background-color: var(--logoBlue);
}
#playBox {
  background-color: var(--logoBlueButton);
  border-color: white !important;
}
#playBox:hover {
  background-color: var(--logoBlueButtonHover);
}
#sky {
  background-color: var(--sky);
}
#waves {
  background-image: url('../../images/night/wave.png');
}
#ocean {
  background-color: var(--water);
}
#ship {
  background-image: url('../../images/night/boatRight.png');
}
.submarine {
  background-image: url('../../images/night/submarineRight.png');
}
.bomb {
  background-image: url('../../images/night/bomb.png');
}
#pauseButton {
  background-image: url('../../images/night/pause.png');
}
#resumeButton {
  background-image: url('../../images/night/play.png');
}
#restartButton {
  background-image: url('../../images/night/reload.png');
}
#quitButton {
  background-image: url('../../images/night/powerSwitch.png');
}
